<div class="modal-post">
  <div class="post-container">
    <div class="modal-content-post">

      <!-- MAIN POST ----------------------------------------------------------------------------->
      <div class="post-content">

        <!-- POST UPVOTES --------------------------------------------------------->
        <div class="upvotes-show">
          <!-- upvote button -->
          <%= simple_form_for (@postupvote) do |f| %>
            <%= f.input :post, as: :hidden, input_html: {value: post.id} %>
            <%= button_tag type: 'submit' do %>
              <div class="upvote-icon"><i class="fas fa-sort-up"></i></div>
            <% end %>
          <% end %>
          <!-- upvote number -->
          <div class="number-upvotes-show"><%= post.post_upvotes.length - post.post_downvotes.length %></div>
          <%= simple_form_for (@postdownvote) do |f| %>
            <%= f.input :post, as: :hidden, input_html: {value: post.id} %>
              <%= button_tag type: 'submit' do %>
                  <div class="downvote-icon"><i class="fas fa-sort-down"></i></div>
              <% end %>
          <% end %>
        </div>
        <!-- POST UPVOTES END ----------------------------------------------------->

        <!-- POST INFO ------------------------------------------------------------>
        <div class="content-show">
          <div class="post-username-show"><%= post.user.username %></div>
          <div class= "post-title-show"><%= post.title %></div>
          <p><%= post.content %></p>
        </div>
        <!-- MAIN INFO END -------------------------------------------------------->

      </div>
      <!-- MAIN POST END ------------------------------------------------------------------------->

      <!-- CREATE NEW COMMENT ------------------------------------------->
      <div class="new-comment">
        <%= simple_form_for([@comment], remote: true) do |f| %>
          <%= f.input :post, as: :hidden, input_html: {value: post.id} %>
          <%= f.input :content, label: false %>
          <div class="submit-comment-box">
            <div class="comment-btn-box">
              <%= f.button :submit, class: "submit-comment" %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- CREATE NEW COMMENT END --------------------------------------->

      <div class="seperate-comment-new"></div>

      <!-- COMMENTS ----------------------------------------------------------------------------------------------------->
      <% @post = post %>
      <div class="comments <%= @post.id %>">
        <% post.comments.each do |comment| %>
          <div class="comment-answers">
            <%= render partial: "show_comment",:locals => {:comment => comment} %>
          </div>
        <% end %>
      </div>
      <!-- COMMENTS END ------------------------------------------------------------------------------------------------->

    </div>
  </div>
</div>
