<!-- CREATE NEW ANSWER -->
<div class="new-answer">
  <%= simple_form_for (@answer) do |f| %>
    <%= f.input :comment, as: :hidden, input_html: {value: comment.id} %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
</div>

<div class="answers">
  <% comment.answers.each do |answer| %>
    <!-- 1 ANSWERS ---------------------------------------------------------------------------------------------------------->
    <div class="answer-show">
      <!-- ANSWER UPVOTES --------------------------------------------------------->
      <div class="answer-upvotes">
          <%= simple_form_for (@answerupvote) do |f| %>
            <%= f.input :answer, as: :hidden, input_html: {value: answer.id} %>
              <%= button_tag type: 'submit' do %>
                <div class="upvote-icon"><i class="fas fa-sort-up"></i></div>
              <% end %>
          <% end %>
          <div class="answer-number-upvotes"><%= answer.answer_upvotes.length - answer.answer_downvotes.length %></div>
          <%= simple_form_for (@answerdownvote) do |f| %>
            <%= f.input :answer, as: :hidden, input_html: {value: answer.id} %>
              <%= button_tag type: 'submit' do %>
                <div class="downvote-icon"><i class="fas fa-sort-down"></i></div>
              <% end %>
          <% end %>
      </div>
      <!-- ANSWER UPVOTES END ----------------------------------------------------->

      <!-- ANSWER CONTENT ----------------------------------------------------------->
      <div class="answer-content">
        <div class="post-username-answer"><%= answer.user.username %></div>
        <p><%= answer.content %></p>
      </div>
      <!-- ANSWER CONTENT END ------------------------------------------------------->
    </div>
    <!-- 1 ANSWERS END ------------------------------------------------------------------------------------------------------>
  <% end %>
</div>
