<div class="main-container">

  <!-- CREATE NEW POST -->
  <%= render "new" %>

  <!-- POSTS -->
  <% @posts.each do |post| %>
    <div class="post">

      <div class="content">
        <div class="post-username"><%= post.user.username %></div>
        <div class= "post-title"><%= post.title %></div>
        <p>Content: <%= post.content %></p>
      </div>

      <!-- POST UPVOTES -->
      <div class="upvotes">
          <%= simple_form_for (@postupvote) do |f| %>
            <%= f.input :post, as: :hidden, input_html: {value: post.id} %>
              <%= button_tag type: 'submit' do %>
                  <div class="upvote-icon"><i class="fas fa-sort-up"></i></div>
              <% end %>
          <% end %>
          <div class="number-upvotes"><%= post.post_upvotes.length %></div>
      </div>

    <button class="li-signup" id="modal-btn-post">SHOW</button>
    <%= render partial: "show",:locals => {:post => post} %>
    </div>

  <% end %>

</div>
